body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.center-box {
    width: 600px;
    padding: 20px;
    border: 1px solid white;
}
