body {
  font-family: "Courier New", Courier, monospace;
  color: white;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow-y: auto;
}
.center-box {
  max-width: 600px;
  width: 90%;
  padding: 20px;
  border: 1px solid white;
  margin: 20px;
  box-sizing: border-box;
}

.center-box h1 {
  text-align: center;
}

.center-box img {
  max-width: 75%;
  height: auto;
  display: block;
  margin: 0 auto;
}
